#__________________________________________________
# Example of configuration file

#__________________________________________________
# General parameters

outputDir      = /cerea_raid/users/farchia/Fukushima-multisim/output/
sessionName    = sim-test-3/
workName       = analyse/
printIO        = True
EPSILON        = 1.e-8

#__________________________________________________
# Preprocess raw data

preprocessRawData = True

preprocessRawData_bigMemory        = True
preprocessRawData_xTSelect         = 0.5
preprocessRawData_nLevelsGrayScale = 100

#__________________________________________________
