#__________________________________________________
# Example of configuration file

outputDir      = /cerea_raid/users/farchia/Fukushima-multisim/output/
sessionName    = sim-test-3/
workName       = analyse/

xTSelect       = 0.5

analyseShape   = int : 1
analyseShape   = int : 1
analyseShape   = int : 32
analyseShape   = int : 32

nLevelsAnalyse = 30

printIO        = True

bigMemory      = True
