#__________________________________________________
# Example of configuration file

#__________________________________________________
# General parameters

outputDir      = /cerea_raid/users/farchia/Fukushima-multisim/output/
sessionName    = sim-test-3/
workName       = analyse/
printIO        = True
EPSILON        = 1.e-8

#__________________________________________________
# OT2D run parameters

OT2D_Nx                                        = 31
OT2D_Ny                                        = 31
OT2D_Nz                                        = 31
OT2D_Nt                                        = 31

OT2D_timeResFunction                           = min
OT2D_interpolateIntoOT2DResolution_parallelize = more
OT2D_mergeOT2DResults_parallelize              = more

#__________________________________________________
# List of possible configurations
# with the corresponding algo and plotting parameters files
OT2D_configurationNames = str : adr3

#__________________________________________________
# OT2D algorithm parameters
OT2D_algorithmParametersFiles = adr3 : str : OT2DAlgorithmParameters.cfg

#__________________________________________________
# OT2D plotting parameters
OT2D_plottingParametersFiles          = adr3 : str : OT2DPlottingParameters.cfg
OT2D_plottingParametersFileAllConfig  = OT2DPlottingParameters.cfg
